<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@500;700&family=Caveat:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/fontAwesome/css/all.css" />
        <link href="../assets/css/styles.css" rel="stylesheet">
        <title>Sunrise Academy</title>
    </head>
    <body>
        <div id="navbar" class="navbar-one">
        <!-- navigation menu ---------------------->
        </div>


        <div class="container">
            <h1 class="content_header">Chapters</h1>
            <p>All Chapters</p>

            <div class="row">
      
                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <a href="gr12_subjects.html">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">exponents and surds</h4>
                    </div>
                    </a>
                </div>



                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Algebra</h4>
                    </div>
                </div>

                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Number patterns & Sequences</h4>
                    </div>
                </div>

                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Funtions</h4>
                    </div>
                </div>

                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">trig functions</h4>
                    </div>
                </div>

                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Finance growth and decay</h4>
                    </div>
                </div>
                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Calculus</h4>
                    </div>
                </div>
                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Probability</h4>
                    </div>
                </div>
                <div id="gr_rep" class="col-lg-4 col-md-12 col-md-12">
                    <div class="grades">
                        <div class="gr-logo">
                            <i class="fas fa-tree"></i>
                        </div>
                        <h4 class="gr-name">Analytical Geometry</h4>
                    </div>
                </div>
            </div>
        </div>


        <div id="footer">
            <!--------------footer----------------------->
        </div>
    <!------------------File dependencies----------------------------->
    <script src="../assets/js/navbar.js" defer></script>
    <script src="../assets/js/nav_footer_error.js" ></script> 
    <script src="../assets/js/footer.js" defer></script>
    <script type="text/javascript" src="../assets/js/sideNavigation.js"></script>
    <script type="text/javascript" src="../assets/js/real_time.js"></script> 
    <!-- <script type="text/javascript" src="../assets/js/socials.js"></script>  -->
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>
</html>

